@import url('https://fonts.googleapis.com/css?family=Roboto+Slab|Playfair+Display:400,700,900|Open+Sans');
/* fonts
font-family: 'Playfair Display', serif;
font-family: 'Roboto Slab', serif;
font-family: 'Open Sans', sans-serif;
*/

body {
    background-color: #FFF;
    color: #000;
    padding-bottom: 15px;
    font-family: 'Roboto Slab', serif;
}
h1, h3, h4 {
    font-family: 'Playfair Display', serif;
}
h1 {
    font-weight: 700;
}
h4 {
    padding: .5em 0 0 0;
    margin: 4px 0 0 0;
}
h4 span {
    font-weight: 700;
}
button {
    background-color: #111;
    color: #fff;
}
.container {
    padding-bottom: 20px;
}
.article-div {
    padding-bottom: 15px;
}
.main-title {
    margin: 20px 0;
}
.input-group-lg>.form-control, .input-group-lg>.input-group-btn>.btn {
    border-radius: 0;
}
.article-div a {
    color: #000;
    text-decoration: none;
}
.article-div h3 {
    margin-top: 0;
}
.article-div p {
    margin-bottom: 12px;
}
.article-div div {
    margin: 10px 0 0 0;
}
.article-div img {
    border-radius: 1px;
    box-shadow: 5px 10px 12px rgba(170, 170, 170, 0.8)!important;
    width: 100%;
}
.article_date {
    color: rgb(231, 44, 44);
    font-family: 'Open Sans', sans-serif;
    margin-top: 5px;
}
@media (min-width:768px){
    .flex-rows {
        display: flex;
        justify-content: space-between;
    }
}
.boxes{
    padding: 15px 15px 0 15px;
    border-top: 1px solid #aaaaaa;
}
.box_1, .box_5 {
    flex-basis: 100%;
}
.box_2, .box_3, .box_4 {
    flex-basis: 32.5%;
}

.box_6, .box_7 {
    flex-basis: 49.4%;
}
.box_8 {
    order: 3;
    flex-basis: 45%;
}
.box_9 {
    order: 1;
}
.box_10 {
    order: 2;
}
.box_9, .box_10 {
    flex-basis: 26.2%;
}
.footer {
    padding-top: 20px;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    display: flex;
}
.footer-para-1 {
    font-family: 'Open Sans', sans-serif;
    margin: 16px 0 0 0;
}
